<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/css/bulma.min.css"/>

    <script src="/smooth-scroll/dist/smooth-scroll.min.js"></script>

    <script src="/JQuery/jquery.min.js"></script>

    <style>
        ::-webkit-scrollbar {
        width: 10px;
        }
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
        background: #888; 
            border-radius:5px;
        }
        ::-webkit-scrollbar-thumb:hover {
        
        background: #555; 
        } 

        #topButton {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        cursor: pointer; /* Add a mouse pointer on hover */
      }

      input[type="submit"] {
          font-weight:bold;
      }

      button {
          font-weight:bold;
      }


    </style>

    <script>

        document.addEventListener("DOMContentLoaded", function () {

        var topButton = document.getElementById("topButton");

        window.onscroll = function () {
        scrollFunction();
        };

        function scrollFunction() {
        if (
            document.body.scrollTop > 200 ||
            document.documentElement.scrollTop > 200
        ) {
            $("#topButton").fadeIn("3000");
        } else {
            $("#topButton").fadeOut("3000");
        }
        }
        });
        
    </script>

</head>
<body>

    <div class="box columns is-multiline" id="header">
        <a href="/groups"  class="column is-narrow">
            <button class="button is-info">
                <i class="fas fa-arrow-left"></i> &nbsp; Go Back
            </button>
        </a>
        <a href="/settings"  class="column is-narrow">
        <button class="button is-info">
            <i class="fas fa-user-cog"></i>&nbsp;&nbsp;<%= usuario %>
        </button>
        </a>

        <a href="/home"  class="column is-narrow">
            <button class="button is-info" >
                 My Notes &nbsp; <i class="fas fa-sticky-note"></i>
            </button>
        </a>

    </div>

    <section class="hero is-link">
        <div class="hero-body">
          <p class="title">
            <%= group %> Group
          </p>

          <% if (admin == true) { %>

            <form method="post" action="/groups/<%= group %>/addMember">
                <div class="field has-addons">
                    
                    <p class="control is-expanded">
                      <input class="input is-info input" type="text" name="memberMail" placeholder="Member Email" value="">
                    </p>
    
                            <p class="control has-icons-left ">
                              <span class="select">
                                <select name ="email">
                                  <option selected>@gmail.com</option>
                                  <option>@yahoo.com</option>
                                  <option>@outlook.com</option>
                                  <option>@hotmail.com</option>
                                  <option>Other</option>
                                </select>
                              </span>
                              <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                              </span>
                            </p>
    
                    <p class="control">
                        <input class="button is-dark" type="submit" value="Add Member">
                    </p>
                </div>
              </form>

          <% } %>

          
        <br>

        <p class="title is-5">Members</p>
        
        <div class="field is-grouped is-grouped-multiline">

            <% for (member in members) { %>
            <div class="control">
                <span class="tag is-black">
                <%= members[member].emailMember %>
                <% if ((admin == true) && (members[member].emailMember !== usuario)) { %>
                    <form method="POST" action="/groups/<%= group %>/deleteMember/<%= members[member].emailMember%>">
                    <button class="delete" type="submit">
                    </form>
                <% } %>
                </span>
            </div>
            
            <% } %>
        </div>

        </div>
    </section>  

      <br>

    <div class="container">  

    <form method="post" action="/groups/<%= group %>/newNote">
        <template>
            <input name="author" value="<%= usuario %>">
        </template>
        <article class="message">
        <div class="message-header">
            <input class="input is-info input" placeholder="Note Title" type="text" name="noteTitle" value="">
        </div>
        <div class="message-body">
            <div class="field no-label">
                
                <div class="control">
                    <textarea class="textarea has-fixed-size is-info" type="text" placeholder="Note Content" name="noteContent"></textarea>
                </div>

            </div>
        </div>
        <input  style="margin-top:1%;" class="button is-info" type="submit" name="newNote" value="Add Note">
        </article>
    </form>
    <br>

    <% for(nota in notas){ %>
    
        <form method="post" action="/groups/<%= group %>/deleteNote">
        <article class="message">
        <div class="message-header">
            <input class="input is-info input" type="text" name="noteTitle" readonly="readonly" value="<%= notas[nota].NoteTitle; %>">
        </div>
        <div class="message-body">
            <div class="field no-label">
                
                <div class="control">
                    <textarea class="textarea has-fixed-size  is-info" name="noteContent" readonly><%= notas[nota].NoteContent; %></textarea>
                </div>

            </div>
        </div>
        <div class="field no-label level">
            <% if ((notas[nota].Author == usuario) || (admin == true)){%>
            <input class="button is-danger" type="submit" name="deleteNote" value="Delete Note">
            <% } %>
            <span class="tag is-link">
                <% if (notas[nota].Author == usuario){%>
                    Me &nbsp; <i class="fas fa-user"></i>
                <% } else { %>
                <%= notas[nota].Author %>
                <% } %>
            </span>
        </div>
        </article>
        </form>
        <br>
    <% } %>
    
    </div>

    <footer id="footer" class="footer">
        <script>
          var scroll = new SmoothScroll('a[href*="#"]', {
              speed: 500,
              speedAsDuration: true
          });
        </script>
  
        <div class="content has-text-centered">
          <p>
            <strong>PiterNoteApp</strong> by
            <a href="https://github.com/PiterWeb">PiterDev</a>. This is an
            <a href="https://github.com/PiterWeb/PiterNoteApp">open source</a>
            project .
          </p>
        </div>
      </footer>

    <a data-scroll href="#header"id="topButton" class="button is-black"><i class="fas fa-chevron-up"></i></a>

</body>
</html>